Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

.lintstagedrc.yml:

'*.{js,jsx,cjs}': eslint --fix
'*.{html,css,md,ts,yaml,yml,json,ts}': prettier --write

Update storybook to v6.5.0
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Disable storybook telemetry
  .storybook/main.cjs
Due: eslint --fix

fix: compat with new ts@4.7's node16 resolution
  package.json
Due: prettier --write

Compat with new ts@4.7's node16 resolution (#5)
  package.json
Due: prettier --write

Update devDepndencies
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v1.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Refactor code
  package.json
  src/Markdown.js
  src/ReactParser.js
  src/ReactRenderer.js
  src/defaults.js
  tests/component.spec.js
  tests/helpers.spec.js
  tests/parser.spec.js
Due: eslint --fix, prettier --write

Update rollup to v2.75.6
  package-lock.json
  package.json
Due: prettier --write

Add test group description
  tests/component.spec.js
  tests/helpers.spec.js
  tests/markdown.spec.js
Due: eslint --fix

Add tests for ReactRenderer
  src/ReactRenderer.js
  tests/renderer.spec.js
Due: eslint --fix

Create FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Delete FUNDING.yml
  .github/FUNDING.yml
Due: prettier --write

Add parsing inline markdown
  src/Markdown.js
  src/index.d.ts
  stories/0-MarkedReact.stories.jsx
  tests/component.spec.js
Due: eslint --fix, prettier --write

Update README.md
  README.md
Due: prettier --write

Release marked-react v1.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add isInline option to README
  README.md
Due: prettier --write

Use official action to publish to pages
  .github/workflows/gh-pages.yml
  .github/workflows/pages.yml
Due: prettier --write

ReactRenderer types added.
  src/index.d.ts
Due: prettier --write

Single ReactNode
  src/index.d.ts
Due: prettier --write

Update ReactRenderer types (#7)
  src/index.d.ts
Due: prettier --write

Port to typescript
  .babelrc
  .eslintrc.yml
  .lintstagedrc.yml
  jest.config.ts
  package-lock.json
  package.json
  rollup.config.js
  src/Markdown.ts
  src/ReactParser.ts
  src/ReactRenderer.js
  src/ReactRenderer.ts
  src/helpers.ts
  src/index.d.ts
  src/index.js
  src/index.ts
  stories/0-MarkedReact.stories.tsx
  stories/1-CustomRenderer.stories.tsx
  stories/global.d.ts
  tests/component.spec.ts
  tests/helpers.spec.ts
  tests/markdown.spec.ts
  tests/parser.spec.ts
  tests/renderer.spec.ts
  tsconfig.json
  tsconfig.lib.json
Due: eslint --fix, prettier --write

Bump devDependencies
  package-lock.json
  package.json
Due: prettier --write

Don't freeze Renderer this
  src/ReactRenderer.ts
Due: prettier --write

Release marked-react v1.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix token alignment in table
  src/ReactParser.ts
Due: prettier --write

Fix table alignment (#8)
  src/ReactParser.ts
Due: prettier --write

Update marked to v4.1.1
  package-lock.json
  package.json
Due: prettier --write

Update jest to v29
  package-lock.json
  package.json
Due: prettier --write

Update typescript to v4.8.4
  package-lock.json
  package.json
Due: prettier --write

Update rollup to v3
  package-lock.json
  package.json
  rollup.config.js
Due: eslint --fix, prettier --write
