Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, prettier --write

Make value and renderer optional in types
  src/index.d.ts
Due: prettier --write

Release marked-react v1.0.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update LICENSE
  LICENSE
Due: none

Update marked to v4.0.10
  package-lock.json
  package.json
Due: prettier --write

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v1.0.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update eslint to v8.7.0
  package-lock.json
  package.json
Due: prettier --write

Update marked to v4.0.12
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v1.0.3
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Add storybook
  .eslintignore
  .eslintrc.yml
  .github/workflows/gh-pages.yml
  .gitignore
  .lintstagedrc.yml
  .storybook/main.cjs
  README.md
  demo/App.css
  demo/App.jsx
  demo/favicon.svg
  demo/index.css
  demo/index.html
  demo/main.jsx
  demo/markdown.css
  package-lock.json
  package.json
  stories/0-MarkedReact.stories.jsx
  stories/1-CustomRenderer.stories.jsx
  stories/codeblock.md
  stories/markdown.md
  stories/marked.css
  vite.config.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Remove unwanted storybook addons
  .storybook/main.cjs
  package-lock.json
  package.json
Due: prettier --write

Update actions checkout,setup-node to v3
  .github/workflows/gh-pages.yml
  .github/workflows/publish.yml
  .github/workflows/tests.yml
Due: prettier --write

Add tests for ReactParser
  tests/parser.spec.js
Due: eslint --fix --ignore-path .gitignore

Fix markdown links in storybook
  stories/markdown.md
Due: prettier --write

Update storybook examples
  stories/0-MarkedReact.stories.jsx
  stories/1-CustomRenderer.stories.jsx
  stories/details/codeblock.md
  stories/details/default.md
  stories/details/switch-component.md
  stories/marked.css
Due: eslint --fix --ignore-path .gitignore, prettier --write

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Add storybook docs
  .storybook/main.cjs
  package-lock.json
  package.json
  stories/0-MarkedReact.stories.jsx
  stories/1-CustomRenderer.stories.jsx
  stories/details/default-code.js
  stories/details/switch-component-code.js
  stories/details/switch-component.md
  stories/details/syntax-highlight-code.js
  stories/details/syntax-highlight.md
  stories/marked.css
Due: eslint --fix --ignore-path .gitignore, prettier --write

Update docs in storybook
  stories/0-MarkedReact.stories.jsx
  stories/1-CustomRenderer.stories.jsx
Due: eslint --fix --ignore-path .gitignore

Update storybook deprecated argTypes
  stories/0-MarkedReact.stories.jsx
  stories/1-CustomRenderer.stories.jsx
Due: eslint --fix --ignore-path .gitignore

Remove broken badges
  README.md
Due: prettier --write

Add support for react 18
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v1.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update to React 18 api in docs
  README.md
  examples/hast-syntax-hightlight.jsx
  stories/details/default-code.js
  stories/details/switch-component-code.js
  stories/details/syntax-highlight-code.js
  stories/details/syntax-highlight.md
Due: eslint --fix --ignore-path .gitignore, prettier --write

Fix example code in docs
  stories/details/syntax-highlight.md
Due: prettier --write

Update storybook to v6.5-beta
  package-lock.json
  package.json
Due: prettier --write

Update react to v18.1.0
  package-lock.json
  package.json
Due: prettier --write

Update to jest v28
  jest.config.js
  package-lock.json
  package.json
  tests/component.spec.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Fix renderer types
  .lintstagedrc.yml
  src/index.d.ts
Due: prettier --write

Release marked-react v1.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  eslint --fix --ignore-path .gitignore: any of: *.{js,jsx}
  prettier --write: any of: *.{html,css,md,ts,yaml,yml,json}
