Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, prettier --write

Add prePublish scripts
  package.json
Due: none

Set uniq key name for children
  src/ReactRenderer.js
Due: eslint --fix --ignore-path .gitignore

Release marked-react v0.1.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Remove invalid exports
  src/index.jsx
Due: eslint --fix --ignore-path .gitignore

Add script to build docs
  .gitignore
  package.json
Due: none

Update rollup config
  rollup.config.js
Due: eslint --fix --ignore-path .gitignore

Add badges to README
  README.md
Due: prettier --write

Automate npm publish npm via actions
  .github/workflows/publish.yml
Due: none

Format yaml files
  .lintstagedrc.yml
Due: none

Update badge links
  README.md
Due: prettier --write

Render images inside links
  src/ReactParser.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore

Update demo styles
  demo/markdown.css
Due: prettier --write

Release marked-react v0.1.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Support task list with gfm
  src/ReactParser.js
  src/ReactRenderer.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore

Release marked-react v0.1.2
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Fix entry file extension
  rollup.config.js
  src/index.js
Due: eslint --fix --ignore-path .gitignore

Build and test before push
  .husky/pre-push
Due: none

Update vite to v2.6.13
  package-lock.json
  package.json
Due: none

Render inline items inside heading
  src/ReactParser.js
Due: eslint --fix --ignore-path .gitignore

Avoid using Fragment for plain strings
  .eslintrc.yml
  package-lock.json
  package.json
  src/ReactRenderer.js
Due: eslint --fix --ignore-path .gitignore

Update vite config
  package.json
  vite.config.js
Due: eslint --fix --ignore-path .gitignore

Accept options as direct props
  README.md
  src/Markdown.js
  src/ReactParser.js
  src/defaults.js
  src/index.d.ts
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Support custom renderer
  demo/.babelrc
  package-lock.json
  package.json
  src/Markdown.js
  src/ReactParser.js
  src/ReactRenderer.js
  src/defaults.js
  src/index.d.ts
  tests/component.spec.js
  tests/helpers.spac.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Update package scripts
  package.json
Due: none

Format json files with prettier
  .lintstagedrc.yml
Due: none

Remove build step in pre-push hook
  .husky/pre-push
Due: none

Add marked to dependencies
  package-lock.json
  package.json
Due: none

Update README.md
  README.md
Due: prettier --write

Fix joining baseURL with paths
  src/helpers.js
  tests/helpers.spec.js
Due: eslint --fix --ignore-path .gitignore

Update helpers tests
  tests/helpers.spec.js
Due: eslint --fix --ignore-path .gitignore

Update test to fix render warnings
  tests/component.spec.js
Due: eslint --fix --ignore-path .gitignore

Update @vitejs/plugin-react
  package-lock.json
  package.json
Due: none

Exclude src files from npm publish
  package.json
Due: none

Release marked-react v0.2.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Improve tree shaking
  .babelrc
  demo/.babelrc
  package.json
Due: none

Add example for syntax highlighting code blocks
  README.md
Due: prettier --write

Fix demo build config
  .gitignore
  package.json
  vite.config.js
Due: eslint --fix --ignore-path .gitignore

Deploy demo site to gh-pages
  .eslintrc.yml
  .github/workflows/gh-pages.yml
  package-lock.json
  package.json
  scripts/deploy-pages.js
Due: eslint --fix --ignore-path .gitignore

Path conditions:
  eslint --fix --ignore-path .gitignore: any of: *.{js,jsx}
  prettier --write: any of: *.{html,css,md,ts}
