Repository sibiraj-s/marked-react: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix --ignore-path .gitignore, prettier --write

.lintstagedrc.yml:

'*.{js,jsx}': eslint --fix --ignore-path .gitignore
'*.{html,css,md,ts,yaml,yml,json}': prettier --write

Add link to demo
  README.md
Due: prettier --write

Update prettier config
  .prettierrc.yml
Due: prettier --write

Update vite config
  demo/index.html
  vite.config.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Fix renderer element factory invocation
  src/ReactRenderer.js
Due: eslint --fix --ignore-path .gitignore

Update examples
  README.md
  examples/hast-syntax-hightlight.jsx
Due: eslint --fix --ignore-path .gitignore, prettier --write

Increment key for custom renderers
  src/ReactRenderer.js
Due: eslint --fix --ignore-path .gitignore

Update devDependencies
  package-lock.json
  package.json
Due: prettier --write

Update README.md
  README.md
Due: prettier --write

Update deprecated npx command
  .husky/pre-commit
Due: none

Regenerate package-lock.json
  package-lock.json
Due: prettier --write

Release marked-react v0.2.1
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Setup commitlint
  .commitlintrc.yml
  .husky/commit-msg
  package-lock.json
  package.json
Due: prettier --write

Update marked to v4
  package-lock.json
  package.json
Due: prettier --write

Enable ESM for jest
  package.json
Due: prettier --write

Release marked-react to v0.3.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update package-lock.json
  package-lock.json
Due: prettier --write

Update imports
  src/Markdown.js
  src/ReactParser.js
  src/ReactRenderer.js
  src/index.js
  tests/component.spec.js
  tests/helpers.spec.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore

Update eslint rules
  .eslintrc.yml
Due: prettier --write

Prefer jest/globals
  .eslintrc.yml
  package-lock.json
  package.json
  tests/component.spec.js
  tests/helpers.spec.js
  tests/markdown.spec.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Update marked to v4.0.1
  package-lock.json
  package.json
Due: prettier --write

Update marked to v4.0.4
  package-lock.json
  package.json
Due: prettier --write

Update eslint to v8.3.0
  package-lock.json
  package.json
Due: prettier --write

Release marked-react v1.0.0
  CHANGELOG.md
  package-lock.json
  package.json
Due: prettier --write

Update marked to v4.0.5
  package-lock.json
  package.json
Due: prettier --write

Update pages deploy action
  .github/workflows/gh-pages.yml
  package-lock.json
  package.json
  scripts/deploy-pages.js
Due: eslint --fix --ignore-path .gitignore, prettier --write

Fix favicon path in demo
  demo/index.html
Due: prettier --write

Fix React import
  demo/main.jsx
Due: eslint --fix --ignore-path .gitignore

Update marked to v4.0.9
  package-lock.json
  package.json
Due: prettier --write
